body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: LightPink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h3{
  font-size: 5rem;
}
p{
  font-size: 2rem;
  color:Sienna;
}
input{
  height:30px;
  width: 200px;
}
button{
  height:35px;
  width: 130px;
  background-color: SeaGreen;
  color:white;
}
button:hover{
  background-color: #fff;
  color:SeaGreen
}

h1{
  font-size: 3rem;
}